@import url('https://fonts.googleapis.com/css?family=Akshar&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.first-box {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    color: white;
    margin-bottom: 30px;
}

.buttons {
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    border: 0px;
}

.first-box button {
    width: 150px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
}

.first-box p {
    font-weight: 400;
    font-size: 12px;
}

.guess-number {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.question {
    display: flex;
    justify-content: center;
    position: relative;
}

.question button {
    font-size: 40px;
    padding: 20px;
    margin: auto;
    position: absolute;
    width: 130px;
    align-content: center;
}

hr {
    height: 5px;
    background-color: white;
    border-color: white;
    color: white;
    margin-top: 40px;
}

.check-result {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.check-result .input-result {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.check-result .input-result input {
    width: 250px;
    height: 100px;
    border-color: white;
    background-color: black;
    border-width: 3px;
    color: white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.check-result .input-result button {
    width: 200px;
    height: 50px;
    margin-left: 60px;
}

.check-result .score-status img {
    width: 20px;
    height: auto;
}
